/* styles needed by the plugin */
.animatedimage {
  position: relative;
  display: inline-block;
  line-height: 0;
  overflow: hidden;
}
.animatedimage > * {
  position: absolute;
  display: inline-block;
  visibility: hidden;
  border: 0;
}
/* the image that will show while waiting for javascript to load, and what users without javascript will see - if you don't want to use a class you might use *:first-child to select this instead */
.animatedimage > .poster {
  position: static;
  visibility: visible;
}
/* spritesheets will rely on left/top positioning */
.animatedimage[data-spritesize] > * {
  position: relative;
}




/* demo styles */
body {
  padding: 1px;
  margin: 0;
  text-align: center;
  font: normal 13px sans-serif;
  background-color:#FFFFFF;
  
  color:#333333;
}
p {
  float: left;
  margin: 10px;
}
.box {
  float: left;
  width: 600px;
  margin: 5px;
  padding: 20px;
  background: #FFF;
  border-radius: 5px;
  color: #111;
  cursor: pointer;
}


.box p {
  float: none;
  margin: 20px 0 0 0;
}
.box:hover {
  box-shadow: 0 0 0 1px #FFF;
}
.animatedimage {
  pointer-events: none; /* the image sequence has a little trouble with click events when rapidly changing the images */
}


.box:before,
.box:after {
  position: absolute;
}
.box:before {
  top: 98px;
  left: 88px;
  margin-left: 0px;
  width: 32px;
  height: 32px;
  border: 2px solid rgba(255,255,255, 0.5);
  border-radius: 13px;
  border-bottom-style:dotted;
  border-top-style:dotted;
  background-color: rgba();
  font-family: 'Ionicons';
  content: '\f1c8';
  text-align:center;
  line-height: 32px;
  font-size: 23px;
  color:#990000;
  z-index:1;
}


.box:after {
top: 98px;
  left: 47px;
  margin-left: 0px;
  width: 32px;
  height: 32px;
  border: 2px solid rgba(255,255,255, 0.5);
  border-radius: 13px;
  border-bottom-style:dotted;
  border-top-style:dotted;
  background-color: rgba();
  font-family: 'Ionicons';
  content: '\f1be';
  text-align:center;
  line-height: 32px;
  font-size: 23px;
  color:#990000;
  z-index:1;
}






.box.play:before {
  display: none;
}
.box.play:after {
  color: #fff;
  background-color: #8CC152;
}
figcaption {
  padding-top: 15px;
  font-size: 14px;
  color: #8d9bad;
}
figcaption a {
  color: #59687b;
  text-decoration: none;
}


